* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  
  img {
    width: 100%;
    height: 100%;
  }
  
  :root {
    --color-3D4936: #3D4936;
    --color-ffffff: #ffffff;
    --white-100: hsl(206, 5%, 100%);
    --white-200: hsl(206, 5%, 90%);
    --white-300: hsl(206, 5%, 80%);
    --white-400: hsl(206, 5%, 65%);
    --white-500: hsl(206, 5%, 45%);
    --black-100: hsl(210, 21%, 12%);
    --black-200: hsl(210, 21%, 9%);
    --black-300: hsl(210, 21%, 6%);
    --black-400: hsl(210, 21%, 3%);
    --black-500: hsl(210, 21%, 1%);
    --night-100: hsl(217, 27%, 20%);
    --night-200: hsl(217, 27%, 16%);
    --night-300: hsl(217, 27%, 12%);
    --night-400: hsl(215, 27%, 8%);
    --night-500: hsl(215, 27%, 4%);
  }
  
  ul {
    padding-left: 0 !important;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  
  
  /* ***************************** navbar start ************************ */
  .A_welcome {
    background-color: var(--color-3D4936);
    color: var(--color-ffffff);
  }
  
  
  
  body {
    font-family: "Outfit", serif;
    background-color: #f9f9f9;
  }
  
  /* Header Styling */
  
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, calc(0.97rem + 0.14vw), 1.09rem);
    font-weight: normal;
    line-height: 1.5;
    color: var(--black-300);
    background-color: var(--white-100);
  }
  
  
  
  main {
    overflow: hidden;
  }
  
  a,
  button {
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background: none;
  }
  
  img,
  video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
  
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
  
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .section {
    margin: 0 auto;
    padding: 6rem 0 2rem;
  }
  
  .container {
    max-width: 75rem;
    height: auto;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
  
  .centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
  }
  
  .btn {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    border-radius: 0.25rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  
  .btn-primary {
    padding: 0.75rem 1.5rem;
    color: var(--white-100);
    background-color: var(--pink-500);
    box-shadow: var(--shadow-medium);
  }
  
  .btn-darken {
    padding: 0.75rem 1.5rem;
    color: var(--white-100);
    background-color: var(--night-300);
    box-shadow: var(--shadow-medium);
  }
  
  .header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    margin: 20px auto;
    background-color: var(--white-100);
    box-shadow: var(--shadow-medium);
  }
  
  
  
  .brand {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-3D4936);
    text-transform: uppercase;
    order: 1;
  }
  
  
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    flex: 0 0 10%;
  }
  
  .navbar-center {
    display: flex;
  }
  .A_navbar_padding{
    padding: 0px 20px !important;
  }
  
  .navbar-right {
    display: flex;
    flex: 0 0 17%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.5rem;
  }
  
  .menu-header {
    display: none;
    box-shadow: var(--shadow-medium);
  }
  
  .menu-item {
    display: inline-block;
    line-height: 1.5;
    padding-right: 1.25rem;
  }
  
  .menu-link {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black-300);
    text-transform: capitalize;
    transition: all 0.25s ease;
  }
  
  .menu-link>i.bx {
    font-size: 1.35rem;
    margin-left: 0.25rem;
    transform: rotate(90deg);
  }
  
  
  
  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    font-size: 1.45rem;
    color: var(--black-300);
    transition: all 0.25s ease;
  }
  
  
  .submenu {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
    padding: 1rem 2rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    background-color: var(--white-100);
    box-shadow: var(--shadow-medium);
    transition: all 0.25s ease-in-out;
  }
  
  
  
  .submenu-inner {
    flex: 0 0 25%;
    padding: 0 1rem;
  }
  
  .submenu-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    color: var(--color-3D4936);
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  
  
  .submenu-item {
    display: block;
    line-height: 1;
    margin: 0 auto;
  }
  
  .submenu-link {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    padding: 0.75rem 0;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--black-300);
    transition: all 0.25s ease-in-out;
  }
  
  
  
  .submenu-image {
    display: block;
    width: 100%;
    height: auto;
    margin-block: 0.5rem;
    object-fit: cover;
  }
  
  .megamenu {
    left: 50%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateX(-50%);
  }
  
  .megamenu-column-1 {
    left: 65%;
    max-width: 15rem;
    width: 100%;
    height: auto;
  }
  
  .megamenu-column-2 {
    left: 40%;
    max-width: 35rem;
    width: 100%;
    height: auto;
  
  }
  
  .megamenu-column-3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
  }
  
  .megamenu-column-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 62rem;
    height: auto;
    margin: 0 auto;
  }
  
  
  
  .switch {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-right: 0.5rem;
  }
  
  .switch-light,
  .switch-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
  }
  
  .switch-light {
    font-size: 1.3rem;
    visibility: visible;
    color: var(--black-300);
  }
  
  
  
  .switch-dark {
    font-size: 0rem;
    visibility: hidden;
    color: var(--white-100);
  }
  
  
  
  .overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.45s ease-in-out;
  }
  
  
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.6rem;
    height: 1rem;
    margin-right: 1rem;
    opacity: 0;
    visibility: hidden;
    background: transparent;
  }
  
  .burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
    border-radius: 1rem;
    background: var(--black-400);
  }
  
  
  
  .burger-line:nth-child(1) {
    top: 0px;
  }
  
  .burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
  }
  
  .burger-line:nth-child(3) {
    top: 1rem;
  }
  
  /* // /////////////////////// multiproduct filter part ///////////////////////// */
  
  .filters-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  .filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .filters-header h2 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .remove-all {
    font-size: 14px;
    color: #777;
    cursor: pointer;
    border-bottom: 1px solid #777;
    background: none;
  }
  
  .filter-section {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .filter-section:last-child {
    border-bottom: none;
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
  }
  
  .filter-header h3 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .filter-icon {
    transition: transform 0.3s;
  }
  
  .filter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .filter-section.active .filter-content {
    max-height: 500px;
    /* Adjust based on content */
  }
  
  .filter-section.active .filter-icon {
    transform: rotate(180deg);
  }
  
  .filter-option {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  
  .filter-option:last-child {
    margin-bottom: 10px;
  }
  
  /* Checkbox styling */
  input[type="checkbox"] {
    margin-right: 10px;
  
    height: 18px;
    cursor: pointer;
  }
  
  .A_range_width {
    width: 80px !important;
  }
  
  input[type="checkbox"] {
    accent-color: var(--color-3D4936);
  }
  
  .color-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .color-swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ddd;
  }
  
  .show-more {
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px 0 15px;
    font-size: 14px;
  }
  
  /* .price-slider {
    position: relative;
    margin: 20px 0;
  }
  
  .price-range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3D4936;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
  .price-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3D4936 !important;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
  .price-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .price-label {
    font-size: 14px;
  } */
  
  input[type="text"] {
    border: none;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  
  .A_filter_offcanvas {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(61, 73, 54, 1);
    border-radius: 4px;
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
    width: 150px;
    height: 40px;
    margin-left: 20px;
  }
  
  /* //////////////////// product card /////////////////////////////// */
  .results-count {
    font-size: 16px;
    font-weight: 500;
  }
  
  .sort-container {
    display: flex;
    align-items: center;
  }
  
  .sort-text {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .sort-select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
  }
  
  .filter-tag {
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px; /* Padding around the text */
    margin: 5px; /* Space between tags */
    font-size: 14px; /* Font size */
  }
  
  .filter-name {
    margin-right: 5px; /* Space between name and close button */
  }
  
  .filter-close {
    cursor: pointer; /* Pointer cursor for close button */
    color: #ff0000; /* Red color for close button */
    font-weight: bold; /* Bold close button */
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -4px 4px 14px 0px #0000000F;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 0.6px solid #14141433;
    width: 100% !important;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .badge {
  
    background-color: #3b4637;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-top: 15px;
  }
  
  /* Left Ribbon Cut */
  .badge::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 100%;
    transform: translateY(-50%) rotate(-135deg);
    background-color: #2e382b;
    width: 10px;
    height: 10px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  /* Right Ribbon Sparkle */
  .badge::after {
    content: "";
    position: absolute;
    right: -5px;
    top: -25%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #717a6e;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
  }
  
  
  
  
  
  .wishlist-button {
    position: absolute;
    top: 27px;
    border: none;
    border-radius: 50%;
    /* width: 30px; */
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .wishlist-button .heart {
    color: #ccc;
    font-size: 18px;
    transition: color 0.2s;
  }
  
  .wishlist-button:hover .heart {
    color: #ff5a5a;
  }
  
  .wishlist-button.active .heart {
    color: #ff5a5a;
  }
  
  .product-image {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
  }
  
  .product-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-brand {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .product-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #666;
  }
  
  .product-price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .current-price {
    font-size: 20px;
    font-weight: 600;
  }
  
  .original-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #999;
  }
  
  .discount {
    font-size: 18px;
    color: #388E3C;
    font-weight: 500;
  }
  
  .color-options {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .offcanvas-body {
    padding: 0px;
  }
  .color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    line-height: 20px;
  
  }
  
  .more-colors {
    font-size: 12px;
    color: #666;
    padding: 5px;
    line-height: 20px;
    border: 0.6px solid rgba(20, 20, 20, 0.2);
    box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  
  .heart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    border-radius: 50%;
    margin-top: 16px;
    border: 0.6px solid rgba(20, 20, 20, 0.6);
    /* Default border */
    transition: all 0.3s ease-in-out;
  }
  
  .heart-container:hover {
    background-color: var(--color-3D4936);
    /* Light red background */
    border: 2px solid var(--color-ffffff);
    cursor: pointer;
  }
  
  .heart-container i {
    font-size: 20px;
    /* Adjust icon size */
  
    transition: color 0.3s ease-in-out;
  }
  
  .heart-container:hover i {
    color: var(--color-ffffff);
    /* Change color on hover */
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    /* Aligns items to the ends */
    align-items: center;
    /* Centers items vertically */
    margin-bottom: 10px;
    /* Space between header and image */
  }
  
  .heart-container {
    cursor: pointer;
    /* Change cursor to pointer for heart icon */
  }
  
  .add-to-cart {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ddd;
    background-color: transparent;
    color: var(--color-3D4936);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .add-to-cart:hover {
    color: white;
    background-color: rgba(61, 73, 54, 1);
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }
  /* ///////////////////////////////////////////////////////////////////////////////////////// */
  .variant-images {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.V_image_border {
    width: 40px;
    height: 40px;
    border: 0.6px solid rgba(20, 20, 20, 0.2);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.variant-image-dot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-images {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}

.main-product-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */
  

.slider-container {
  width: 100%;
  max-width: 500px;
  padding: 20px 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.range-selected {
  height: 100%;
  background-color: #3D4936;
  border-radius: 5px;
  position: absolute;
}

.range-input {
  position: absolute;
  width: 100%;
  height: 0;
  top: 3px;
  pointer-events: none;
  appearance: none;
  background: transparent;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background:  #3D4936;

  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.range-input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3D4936;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.value-input {
  width: 80px;
  padding: 5px;
  border: 1px solid #3D4936;
  border-radius: 4px;
  text-align: center;
}




  /* ***************************** footer start ************************ */
  
  .d_container {
    /* margin-right: auto;
    margin-left: auto; */
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
  
  @media (min-width: 1650px) {
    .d_container {
      width: 1500px;
      margin: auto;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
      width: 1199px;
      max-width: none;
      margin: auto;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
      width: 970px;
      max-width: none;
      margin: auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .d_container {
      width: 750px;
      max-width: none;
      margin: auto;
  
    }
  }
  
  @media (min-width: 480px) and (max-width: 767px) {
    .d_container {
      max-width: 750px;
      margin: auto;
  
    }
  }
  
  @media (min-width: 300px) and (max-width: 450px) {
    .d_container {
      max-width: 750px;
      padding: 0px 10px;
      margin: auto;
    }
  }
  
  /* footer {
    background-color: #3d4438;
    color: #e0e0e0;
    padding: 40px 20px;
  }
  
  .A_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-section h2, 
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
    color: #c7c7c7;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #ffffff;
  }
  
  Social Media Icons
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #555;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    transition: background 0.3s ease;
  }
  
  .social-icons a:hover {
    background: #ffffff;
    color: #3d4438;
  }
  
  Footer Bottom
  .footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #555;
    margin-top: 20px;
    font-size: 14px;
    color: #c7c7c7;
  } */
  /* ***************************** footer end ************************ */
  
  @media (max-width: 768px) {
    .header {
      align-items: flex-start;
      gap: 10px;
    }
  
    .products-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  
    .filters-container {
      width: 250px;
    }
    .A_offcanvas_filter.offcanvas{
      --bs-offcanvas-width: 320px;
    }
  }
  
  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  
    .product-image {
      height: 180px;
    }
  }
  
  
  @media only screen and (min-width: 993px) {
    .menu-dropdown:hover>.submenu {
      opacity: 1;
      visibility: visible;
      margin-top: 1rem;
    }
  
    .offer-image1 {
      height: 500px;
    }
  
    .offer-text4 h4 {
      width: 75%;
    }
  
    .offer-text4 p {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 992px) {
  
    .navbar-left,
    .navbar-right {
      flex: 0 0 auto;
    }
  
    .navbar-right {
      align-items: center;
    }
  
    .navbar-center {
      flex: 0 0 100%;
      order: 3;
      align-items: center;
    }
  
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      z-index: 100;
      overflow: hidden;
      transform: translate(-100%);
      background-color: var(--white-100);
      transition: all 0.4s ease-in-out;
    }
  
    .menu.is-active {
      transform: translate(0%);
    }
  
  
    .menu-header {
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 4rem;
      z-index: 110;
      /* visibility: hidden; */
      background: transparent;
    }
  
    .menu-header.is-active {
      visibility: visible;
      background-color: var(--white-100);
    }
  
    .menu-header.is-active>.menu-arrow {
      display: block;
    }
  
  
  
    .menu-arrow {
      display: none;
      cursor: pointer;
      width: 3rem;
  
      text-align: center;
    }
  
    .menu-arrow>i.bx {
      font-size: 1.5rem;
      line-height: 4rem;
      color: var(--black-300);
      transition: all 0.25s ease;
    }
  
  
  
    .menu-title {
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      text-transform: capitalize;
      color: var(--black-300);
    }
  
  
  
    .menu-inner {
      height: 100%;
      margin-top: -3rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .menu-item {
      display: block;
      line-height: 1;
      padding-inline: 0;
    }
  
    .menu-link {
      justify-content: space-between;
      height: 2.5rem;
      line-height: 2.5rem;
      padding-inline: 1.25rem;
    }
  
    .menu-link>i.bx {
      margin-left: 0.5rem;
      transform: rotate(0deg);
    }
  
    .submenu {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      min-width: auto;
      margin: 0;
      padding: 1rem;
      padding-top: 4rem;
      opacity: 1;
      overflow-y: auto;
      visibility: visible;
      box-shadow: none;
      transform: translateX(0%);
    }
  
    .submenu.is-active {
      display: block;
    }
  
    .submenu-inner {
      flex: 0 0 100%;
      padding: 0rem;
    }
  
    .submenu-list {
      margin-bottom: 1rem;
    }
  
    .submenu-link {
      display: block;
    }
  
    .submenu-image {
      margin-top: 0;
    }
  
    .megamenu {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      min-width: auto;
      margin: 0;
      padding: 1rem;
      padding-top: 4rem;
      opacity: 1;
      overflow-y: auto;
      visibility: visible;
      transform: translateX(0%);
      box-shadow: none;
    }
  
    .overlay.is-active {
      opacity: 1;
      visibility: visible;
    }
  
    .burger {
      opacity: 1;
      visibility: visible;
    }
    .A_filter_offcanvas {
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      background-color: rgba(61, 73, 54, 1);
      border-radius: 4px;
      box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
      width: 50px;
      height: 40px;
      margin-left: 10px;
  
    }
  }




  @media (max-width:321px) {
    .ds_count{
       font-size: 11px !important;
    }
    .A_filter_offcanvas {
      font-size: 20px;
      width: 44px;
      height: 36px;
      margin-left: 5px;
  }
  .sort-text {
    margin-right: 7px;
    font-size: 12px;
  }
  .fa-filter{
    font-size: 15px;
  }
  }