@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.text {
    font-family: "Outfit", serif;
}

.V_add_head {
    font-size: 22px;
    font-weight: 500;
}

.V_input {
    background-color: rgba(20, 20, 20, 0.06);
}

.form-control {
    border: 0px;
    background-color: rgba(20, 20, 20, 0.06) !important;
    height: 50px;
}

.form-control:focus {
    border-color: rgba(20, 20, 20, 0.06) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-control::placeholder {
    color: rgba(20, 20, 20, 0.6);
}

.V_bottom {
    padding-bottom: 30px;
}

.V_select {
    height: 50px;
    width: 100%;
    border: 0px;
    background-color: rgba(20, 20, 20, 0.06);
}

.V_select::placeholder {
    color: rgba(20, 20, 20, 0.6);
}

.V_save {
    font-size: 18px;
    font-weight: 500;
}

.V_save_address_as {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(61, 73, 54, 1);
    border-radius: 4px;
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
}

.V_layout {
    width: 100px;
    height: 50px;
    border: 0.8px solid rgba(20, 20, 20, 0.6);
    border-radius: 4px;
}

.V_proceed_paymeny {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(61, 73, 54, 1);
    border-radius: 4px;
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
    width: 300px;
    height: 50px;
}

.V_border {
    border: 0.6px solid rgba(20, 20, 20, 0.4);
}

.V_summary {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 20, 20, 1);
}

.V_cart_item_text {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
}

.V_shade {
    color: rgba(20, 20, 20, 0.6);
}

.V_selected_price {
    font-weight: 500;
    font-size: 16px;
}

.V_line{
    width: 90% !important;
}
.V_delivery{
    font-size: 16px;
    font-weight: 500;
}

.V_price_detail{
    font-size: 16px;
    font-weight: 500;
}
.V_green{
    color: rgba(56, 142, 60, 1);
}
.V_price_detail1{
    font-weight: 500;
    font-size: 18px;
}
/* ================ media query ================ */


@media (max-width: 1921px) and (min-width: 1651px) {}

@media (max-width: 1650px) and (min-width: 1441px) {}

@media (max-width: 1440px) and (min-width: 1200px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (max-width: 991px) and (min-width: 768px) {}

@media (max-width: 767px) and (min-width: 576px) {}

@media (max-width: 575px) and (min-width: 481px) {}

@media (max-width: 480px) and (min-width: 320px) {}



/* / ************* Container ********** / */
.d_container {
    /* margin-right: auto;
  margin-left: auto; */
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

@media (min-width: 1650px) {
    .d_container {
        width: 1500px;
        margin: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
        width: 1199px;
        max-width: none;
        margin: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
        width: 970px;
        max-width: none;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_container {
        width: 750px;
        max-width: none;
        margin: auto;

    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .d_container {
        max-width: 750px;
        margin: auto;

    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .d_container {
        max-width: 750px;
        padding: 0px 10px;
        margin: auto;
    }
}