.V_search {
    /* height: 4rem; */
    background-color: white;
    padding: 15px 0px;
}

.V_input {
    border: 0px;
    outline: none;
    width: 50%;
}

.V_bg {
    background-color: rgba(20, 20, 20, 0.06);
    width: 1100px;
    border-radius: 4px;
}

.V_result {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 2;
}

.V_syggestions {
    font-weight: 500;
    font-size: 14px;
    color: rgba(20, 20, 20, 0.6);
}

.V_line {
    width: 95%;
}

.V_similar {
    font-weight: 400;
    font-size: 16px;
}

.V_name {
    font-weight: 400;
    font-size: 14px;
    color: rgba(20, 20, 20, 1);
}

.V_price {
    font-weight: 400;
    font-size: 14px;
    color: rgba(20, 20, 20, 1);
}

.V_shade {
    font-weight: 400;
    font-size: 12px;
    text-decoration: line-through;
    color: rgba(20, 20, 20, 0.6);
}

.V_image {
    width: 60px;
    height: 60px;
}

.V_for_li {
    font-weight: 400;
    font-size: 14px;
    color: rgba(20, 20, 20, 0.6);
}


.V_you {
    font-weight: 400;
    font-size: 16px;
    color: rgba(20, 20, 20, 0.6);
}

.V_lorem {
    font-weight: 400;
    font-size: 16px;
    color: rgba(20, 20, 20, 1);
}

.V_emptysearch{
    width: 150px;
    height: 90px;
}








/* ================ media query ================ */


@media (max-width: 1921px) and (min-width: 1651px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 1100px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 20px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 60px;
        height: 60px;
    }

    .V_for_li {
        font-size: 14px;
    }
}

@media (max-width: 1650px) and (min-width: 1441px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 1000px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 20px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 60px;
        height: 60px;
    }

    .V_for_li {
        font-size: 14px;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 850px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 20px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 60px;
        height: 60px;
    }

    .V_for_li {
        font-size: 14px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 850px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 60px;
        height: 60px;
    }

    .V_for_li {
        font-size: 16px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 600px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 70px;
        height: 70px;
    }

    .V_for_li {
        font-size: 16px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 500px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 16px;
    }

    .V_price {
        font-size: 16px;
    }

    .V_shade {
        font-size: 14px;
    }

    .V_image {
        width: 80px;
        height: 80px;
    }

    .V_for_li {
        font-size: 16px;
    }
}

@media (max-width: 575px) and (min-width: 481px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 400px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 16px;
    }

    .V_price {
        font-size: 16px;
    }

    .V_shade {
        font-size: 14px;
    }

    .V_image {
        width: 80px;
        height: 80px;
    }

    .V_for_li {
        font-size: 16px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .V_search {
        padding: 15px 0px;
    }

    .V_input {
        width: 50%;
    }

    .V_bg {
        width: 280px;
    }

    .V_result {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 100%;
        left: 0;
    }

    .V_syggestions {
        font-size: 14px;
    }

    .V_line {
        width: 95%;
    }

    .V_similar {
        font-size: 16px;
    }

    .V_name {
        font-size: 14px;
    }

    .V_price {
        font-size: 14px;
    }

    .V_shade {
        font-size: 12px;
    }

    .V_image {
        width: 120px;
        height: 90px;
    }

    .V_for_li {
        font-size: 14px;
    }
    
}