@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



.ds_contact_bg{
    /* background-image: url(/IMG/Dhruvin/left-design.png); */
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
.ds_contact_bg2{
    /* background-image: url(/IMG/Dhruvin/right-design.png); */
    background-repeat: no-repeat;
    background-position: right; 
}
.ds_contact_border{
    background: #3D4936;
    height: 60px;
    width: 80%;
}
.ds_contact_box{
    position: absolute;
    top: 130px;
    left: -345px;
    background-color: white;
    width: 60%;
    box-shadow: -4px 4px 14px 0px #0000000F;
}
.ds_contact_input{
    border: 0;
    height: 45px;
    background: #1414140F;
    width: 100%;
    padding: 0px 15px;
    border-radius: 5px;
}
.ds_contact_input:focus{
    background: #1414140F;
}
.ds_contact_btn{
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    background: #3D4936;
    color: white;
    font-size: 14px;
    padding: 10px 70px;
    border: 0.8px solid #3D493699;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.ds_contact_btn:hover{
    background-color: white;
    color: #3D4936;
}
.ds_contact_left{
    position: absolute;
    top: 0;
    width: 25%;
    z-index: -1;
}
.ds_contact_right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    z-index: -1;
}
.ds_contact_star{
    position: absolute;
    top: 4%;
    right: 3%;
    width: 25px;
}



@media (max-width:1441px) {
    .ds_contact_box {
        top: 10%;
        left: -35%;
    }
}

@media (max-width:1200px) {
    .ds_contact_box {
        top: 10%;
        left: -25%;
    }
}

@media (max-width:992px) {
    .ds_contact_box {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .ds_contact_star{
        top: 1%;
        right: 3%;
    }
    
}

@media (max-width:575px) {
   .ds_contact_border{
      height: 30px;
   }
   .ds_contact_btn{
      padding: 10px 45px;
   }
}