@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



select:focus,
select:focus-visible {
    outline: none;
    box-shadow: none;
}

input:focus,
input:focus-visible {
    outline: none;
    box-shadow: none;
}
.ds_star-img{
    width: 25px;
    object-fit: cover;
}
.ds_inner{
    border: 0.6px solid #14141433;
    border-radius: 5px;
}
.ds_person-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.ds_email{
    font-size: 14px;
}
.ds_border{
    border: 0.8px solid #14141433
}
.ds_hide_border{
   border-left: 4px solid white;
}
.ds_active-border{
   border-left: 4px solid #3D4936 !important;
   border-radius: 3px 3px 3px 3px;
}
.ds_active-border img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(155%) saturate(542%) hue-rotate(54deg) brightness(0%) contrast(1000%)
}
.ds_active-border h5{
    color: #3D4936 !important;
    font-weight: 600;
}
.ds_icon-img{
    width: 22px;
}



.modal-backdrop {
    --bs-backdrop-zindex: 1040 !important;
}
/* ***************** My Profile *************** */
.ds_pro_inner{
    border: 0.6px solid #14141433;
    border-radius: 5px;
}
.ds_active_border{
    border: 0.6px solid #141414;
    border-radius: 5px;
}
.ds_pro_img{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
}
.ds_pro_round{
    position: absolute;
    top: 72%;
    right: 7%;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ds_pro_camera{
    width: 20px;
}
.ds_pro_label{
    font-size: 13px;
}
.ds_pro_input{
    background: #1414140F;
    border: 0;
    height: 45px;
}
.ds_pro_input:focus{
   background-color: #1414140F;
   box-shadow: none;
}
.ds_pro_calender{
    position: absolute;
    top: 10px;
    right: 9px;
}
.ds_calender_img{
    width: 25px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    /* -webkit-appearance: none; */
}
.ds_pro_div{
    height: 45px;
    width: 90px;
    background: #1414140F;
    border-radius: 5px;
}
.gender-option{
    border: 0.8px solid white;
    color: #14141499;
}
.gender-option.active {
    border-color: #3D4936;
    color: #3D4936;
    font-weight: 600;
    border-radius: 5px;
}
.ds_pro_btn{
    box-shadow: 0px -8px 10px 0px #00000033 inset;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    background: #3D4936;
    color: white;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #3D4936;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.ds_pro_btn:hover{
    color: #3D4936;
    background-color: white;
    
}
.ds_pro_res{
    box-shadow: 0px 0px 24px 3px #7272721A;
    background: #FFFFFF; 
    padding: 10px 22px; 
}




/* <!-- ************ My Order  *********** --> */
.ds_no_order{
    height: 600px;
}
.ds_orderno_img{
    width: 230px;
}
.ds_order_select{
    border: 0;
}
.ds_order_select:focus-visible{
    border: 0;
}
.ds_order_round{
    width: 12px;
    height: 12px;
    background: #F8A120;
    border-radius: 50%;
}
.ds_order_color{
    color: #F8A120;
}
.ds_order_txt{
    font-size: 17px;
    margin-bottom: 8px;
    width: 40%;
}
.ds_order_round2{
    width: 12px;
    height: 12px;
    background: #388E3C;
    border-radius: 50%;
}
.ds_order_color2{
    color: #388E3C;
}
.ds_order_round3{
    width: 12px;
    height: 12px;
    background: #FF3300;
    border-radius: 50%;
}
.ds_order_color3{
    color: #FF3300;
}
.ds_order_anker:hover{
    color: #14141499;
}


/* <!-- ************ Add Review Popup ************ --> */
.ds_review_content{
    --bs-modal-width: 650px !important;
}
.ds_review_star{
    font-size:1.5rem;
    color: #14141433;
}
.ds_review_area{
    background: #1414140F;
    border: 0;
}
.ds_review_area:focus {
    box-shadow: none;
    border: 0;
    background: #1414140F;
}
.ds_review_video{
    width: 80px;
    height: 80px;
    background: #1414140F;
    border-radius: 5px;
}
.ds_review_cancel{
    padding: 8px 40px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}
.ds_review_cancel:hover{
    color: white;
    background-color: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
}
.ds_review_submit{
    padding: 8px 40px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    border: 0.8px solid #3D493699;
    transition: 0.3s ease-in-out;
}
.ds_review_submit:hover{
    color: #3D4936;
    background-color: white;
}

/* <!-- ************ My Address  *********** --> */
.ds_add_btn{
    border: 0.8px solid #3D493699;
    padding: 7px 15px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.ds_add_btn:hover{
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
}

.ds_add_height{
    height: 600px;
}
.ds_add_img{
    width: 150px;
}
.ds_add_type{
    background: #ECF3E5;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 5px;
}
.ds_add_dropdown{
    position: absolute;
    top: 17px;
    right: 35px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 24px 3px #7272721A;
    width: 30%;
}
.ds_add_dropdown p:hover{
    color: #8fc470;
}

/* <!-- -------------- Add Address Popup ---------  --> */
.ds_add_add_popup{
    --bs-modal-width: 800px !important;
}
.ds_add_popup_btn{
    padding: 8px 30px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;
}
.ds_add_non_select{
    padding: 7px 30px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;
}
.ds_add_cancel{
    padding: 7px 50px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
.ds_add_cancel:hover{
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
}
.ds_add_save{
    padding: 7px 55px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
    border: 0.8px solid #3D493699;
}
.ds_add_save:hover{
    color: #3D4936;
    background-color: white;
}

/* <!-- -------------- Delete Address Popup ---------  --> */
.ds_delete_cancel{
    padding: 7px 50px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
.ds_delete_cancel:hover{
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
}
.ds_delete_delete{
    padding: 7px 55px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: 0.8px solid #3D493699;
}
.ds_delete_delete:hover{
    color: #3D4936;
    background-color: white;
}

/* <!-- ************ Change Password  *********** --> */
.ds_change_eye{
    position: absolute;
    top: 13px;
    right: 14px
}
.ds_change_cancel{
    padding: 8px 55px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
.ds_change_cancel:hover{
    background-color: #3D4936;
    color: white;
    border: 0.8px solid #3D493699;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;

}
.ds_change_reset{
    padding: 8px 25px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: 0.8px solid #3D493699;
    transition: 0.3s ease-in-out;
}
.ds_change_reset:hover{
    background-color: white;
    color: #3D4936;
}
.ds_deactive_li{
    font-size: 14px;
}
.ds_deactive_btn{
    padding: 8px 70px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: 0.8px solid #3D493699;
    transition: 0.3s ease-in-out;
}
.ds_deactive_btn:hover{
    border: 0.8px solid #3D493699;
    background-color: white;
    color: #3D4936;
}

/* <!-- -------------- Deactivate  Account Popup  -------------- --> */
.ds_deactivate_text{
    position: absolute;
    top: 11px;
    right: 14px;
    font-size: 14px;
}
.ds_deactivate_otp{
    height: 50px;
    width: 50px;
    background: #1414140F;
    text-align: center;
    border: 0;
    border-radius: 5px;
}
.ds_deactivate_let{
    padding: 8px 40px;
    border: 0.8px solid #3D493699;
    color: #3D4936;
    border-radius: 5px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}
.ds_deactivate_let:hover{
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
}
.ds_deactivate_btn{
    padding: 8px 40px;
    background: #3D4936;
    box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: 0.8px solid #3D493699;
    transition: 0.3s ease-in-out;
}
.ds_deactivate_btn:hover{
   background-color: white;
   color: #3D4936;
}

@media (max-width:1441px) {
    .ds_person-img{
        width: 82px;
        height: 80px;
        border-radius: 50%;
    }    
}

@media (max-width:1200px) {
/* <!-- ************ My Order  *********** --> */
.ds_order_txt{
    width: 60%;
}
.ds_order_anker{
    font-size: 14px;
}
}

@media (max-width:992px) {
    .ds_order_txt{
        font-size: 15px;
        margin-bottom: 5px;
    }
/* <!-- -------------- Add Address Popup ---------  --> */
.ds_add_add_popup{
    --bs-modal-width: 650px !important;
}

/* ******** Edit Profile *********** */
.ds_pro_div{
    height: 45px;
    width: 79px;
    background: #1414140F;
    border-radius: 5px;
}
}

@media (max-width:767px) {
    .ds_pro_offcanvas{
        --bs-offcanvas-zindex: 1051 !important;
        --bs-offcanvas-width: 400px !important;
    }  

    /* <!-- ************ My Order  *********** --> */
    .ds_no_order{
        height: 500px;
    }

/* <!-- ************ Add Review Popup ************ --> */
.ds_review_content {
    --bs-modal-width: 520px !important;
}

/* <!-- ************ My Address  *********** --> */
.ds_add_height{
    height: 300px;
}
/* <!-- -------------- Add Address Popup ---------  --> */
.ds_add_add_popup{
    --bs-modal-width: 500px !important;
}
}

@media (max-width:575px) {
    .ds_pro_text{
        font-size: 16px;
    }
    .ds_icon-img {
        width: 18px;
    }

/* <!-- ************ Add Review Popup ************ --> */
.ds_review_text{
    font-size: 17px;
}
}

@media (max-width:426px) {
    .ds_pro_offcanvas{
        --bs-offcanvas-width: 300px !important;
    } 
    .ds_flex_manage{
        flex-wrap: wrap;
    }

    /* <!-- -------------- Deactivate  Account Popup  -------------- --> */
.ds_deactivate_otp{
    height: 43px;
    width: 43px;
}

}

@media (max-width:400px) {
 /* <!-- -------------- Add Address Popup ---------  --> */
.ds_add_cancel{
    margin-right: 0;
}
.ds_add_save{
    margin-right: 0;
}

/* <!-- -------------- Delete Address Popup ---------  --> */
    /* <!-- -------------- Deactivate  Account Popup  -------------- --> */
.ds_deactivate_otp{
    height: 40px;
    width: 40px;
}
}

@media (max-width:376px) {
    .ds_deactive_btn{
        padding: 8px 40px;
        background: #3D4936;
        box-shadow: 0px 4px 4px 0px #FFFFFF80 inset;
        color: white;
        border-radius: 5px;
        margin-right: 10px;
    }  
/* <!-- -------------- Add Address Popup ---------  --> */
.ds_add_popup_btn {
    padding: 8px 17px;
}
.ds_add_non_select {
    padding: 7px 17px;
}
.ds_add_cancel {
    padding: 7px 25px;
    margin-right: 15px;
}
.ds_add_save {
    padding: 7px 35px;
}
/* <!-- -------------- Delete Address Popup ---------  --> */
.ds_delete_cancel {
    padding: 7px 25px;
    margin-right: 15px;
}
.ds_delete_delete {
    padding: 7px 30px;
}

}

@media (max-width:365px) {
    /* <!-- ************ Add Review Popup ************ --> */
    .ds_review_cancel{
        margin-right: 15px;
        padding: 8px 20px
    }
    .ds_review_submit {
        padding: 8px 20px;
    }
/* <!-- -------------- Deactivate  Account Popup  -------------- --> */
.ds_deactivate_otp{
    height: 35px;
    width: 35px;
}

}

@media (max-width:321px) {
    .ds_pro_offcanvas{
        --bs-offcanvas-width: 290px !important;
    } 

/* <!-- ************ My Order  *********** --> */
.ds_order_text{
    font-size: 18px;
}
}